// imports
@import 'partials/_reset';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/variables';



body{
    font-family: 'Mukti', Arial, sans-serif !important;
}
.navbar.navbar-expand-lg.navbar-dark.bg-my{
    background-color: $bgColor;
}
#offcanvasExample.sidebar-nav{
    width: $offCanvasWidth;
    background-color: $bgColor;
}
.navbar-brand img{
    height: 80%;
    width: 80%;
}
.side-bar-nav ul li a{
    font-size: 1.3rem;
}
.side-bar-nav ul{
    width: 100%;
}
.side-bar-nav ul li{
    transition: .25s all ease-in-out;
}
.side-bar-nav ul li:hover{
    background-color: white;
}

.card-text.dashboard-card{
    font-size: 1.8rem;
    margin-top: .8rem;
}
.card-title.dashboard-card img{
    width: 20%;
}

@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    main{
        margin-left: $offCanvasWidth;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    #offcanvasExample.sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: $topNavbarHeight;
        height: calc(100% - 90px);
    }
    #offcanvas-trigger{
        display: none;
    }
    .navbar-brand img{
        height: 100%;
        width: 100%;
    }
    .card-text.dashboard-card{
        font-size: 2rem;
        margin-top: .8rem;
    }
    .card-title.dashboard-card img{
        width: 50%;
        height: 50%;
    }
    .card:hover{
        transform: scale(1.06);
    }
}

